<section
  class="open-chat"
  [hidden]="activated || !userService.userLogged"
  (click)="activatedChat()"
>
  <div [ngClass]="'col-2 btn-chat'">
    <img
      [ngStyle]="{ width: '128px', heigth: '128px' }"
      src="../../../assets/images/icon_chat.png"
      alt="icono_chat"
    />
    <span class="before"></span>
    <span class="after"></span>
  </div>
</section>
<section
  class="chat-container h-50 col-xxl-3 col-lg-4 col-md-6 col-sm-8 card p-0 m-0 text-center"
  [hidden]="!activated && userService.userLogged !== undefined"
>
  <div class="card-header bg-primary text-white p-0 m-0 fs-4 fw-bold">
    <div class="row p-1 w-100 justify-content-between align-items-center">
      <div class="col-3">Chat</div>
      <input
        class="col-3 btn btn-danger"
        type="button"
        value="Cerrar"
        (click)="activatedChat()"
      />
    </div>
  </div>

  <div id="contendor-msjs" class="overflow-auto card-body">
    <div *ngFor="let message of listOfMessages" class="m-1">
      <p
        [ngClass]="
          userService.userLogged?.email === message.email
            ? formatMessageSent
            : formatMessageReceived
        "
      >
        <span [ngClass]="">
          {{
            message.email === userService.userLogged?.email
              ? "Tu: "
              : message.user
          }}</span
        >
        {{ message.message }}
        <span [ngClass]="'hora-envio'"> {{ message.dateSent }}</span>
      </p>
    </div>
  </div>
  <form
    [formGroup]="formChat"
    class="card-footer text-muted"
    (submit)="sendMessage()"
  >
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Ingrese su mensaje"
        formControlName="message"
      />
      <button class="input-group-text" id="basic-addon2" type="submit">
        <img
          class="enviar-mensaje"
          [ngStyle]="{ width: '20px' }"
          src="https://icons.iconarchive.com/icons/vexels/office/1024/email-send-icon.png"
          alt="enviar-mensaje"
        />
      </button>
    </div>
  </form>
</section>
