<nav
  class="navbar w-100 p-1 navbar-expand-lg bg-body-tertiary bg-secondary"
  data-bs-theme="dark"
>
  <a class="navbar-brand text-light" routerLink="">El Bongio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        *ngIf="!userService.userLogged"
        class="nav-link active text-light"
        aria-current="page"
        routerLink=""
        >Home</a
      >
      <a
        *ngIf="!userService.userLogged"
        class="nav-link text-light"
        routerLink="user/login"
        >Login</a
      >
      <a
        *ngIf="!userService.userLogged"
        class="nav-link text-light"
        routerLink="user/register"
        >Registrate</a
      >
      <ul
        *ngIf="userService.userLogged"
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item dropdown">
          <a
            class="text-light nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span routerLink="games">Juegos</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="games/ahorcado">Ahorcado</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="games/mayormenor"
                >Mayor o Menor</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="games/preguntados"
                >Preguntados</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <a
        *ngIf="userService.userLogged"
        class="nav-link text-light"
        routerLink="about"
        >Acerca De</a
      >
    </div>
  </div>

  <div *ngIf="userService.userLogged" class="d-flex">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="userService.userLogged.photoURL ?? imgDefault"
            alt="img-usuario"
            [ngStyle]="{ width: '32px', 'border-radius': '100%' }"
          />{{
            this.userService.userLogged.displayName ??
              this.userService.userLogged.email ??
              "User"
          }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" (click)="signOut()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
