<section class="h-100 p-4">
  <div class="table-responsive">
    <table *ngIf="list" class="table table-striped table-ligth">
      <thead class="table-dark">
        <tr>
          <th
            class="text-center fw-bold"
            *ngFor="let item of list[0] | keyvalue"
          >
            {{ item.key }}
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let element of list">
          <td class="text-center" *ngFor="let item of element | keyvalue">
            {{ item.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
